.pride-text .pride-color-0 {
  color: #fb205b;
}
.pride-text .pride-color-1 {
  color: #ed1190;
}
.pride-text .pride-color-2 {
  color: #d504a6;
}
.pride-text .pride-color-3 {
  color: #b601c9;
}
.pride-text .pride-color-4 {
  color: #010ae3;
}
.pride-text .pride-color-5 {
  color: #6b1df6;
}
.pride-text .pride-color-6 {
  color: #4730fe;
}
.pride-text .pride-color-7 {
  color: #295bfb;
}
.pride-text .pride-color-8 {
  color: #1191ed;
}
.pride-text .pride-color-9 {
  color: #03a6d5;
}
.pride-text .pride-color-10 {
  color: #01c9b5;
}
.pride-text .pride-color-11 {
  color: #0ae401;
}
.pride-text .pride-color-12 {
  color: #1df66b;
}
.pride-text .pride-color-13 {
  color: #3afe47;
}
.pride-text .pride-color-14 {
  color: #5cfb29;
}
.pride-text .pride-color-15 {
  color: #92ec10;
}
.pride-text .pride-color-16 {
  color: #a7d403;
}
.pride-text .pride-color-17 {
  color: #c0b401;
}
.pride-text .pride-color-18 {
  color: #e4000a;
}
.pride-text .pride-color-19 {
  color: #f76a1e;
}
.pride-text .pride-color-20 {
  color: #fe463a;
}
